body {
	color: #fff;
	background: #333;
	font: 18px 'lato', sans-serif;
	line-height: 1.5;
}

body>* {
	max-width: 40em;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'slabo_13px', 'lato', sans-serif;
}

a,
a:link,
a:visited {
	color: #0bf;
	transition: color .2s ease;
}

a:hover {
	color: #09d;
}

a:active {
	color: #057;
}

header {
	border-bottom: 1px solid #555;
}

h1.blog-title a {
	text-decoration: none;
}

h2.list-title a {
	color: #fff;
	text-decoration: none;
}

h1.blog-title a:hover,
h2.list-title a:hover {
	text-decoration: underline;
}

h2.list-title a:hover {
	color: #ddd;
}

code {
	font: normal 1em 'Inconsolata', monospace;
	color: #fb557e;
	background: #222;
	padding: 0 .33em;
	border-radius: .33em;
}

footer {
	color: #ddd;
	padding: 1em;
	margin: 2em auto 0;
	background: #444;
	font-style: italic;
	box-sizing: border-box;
}